[Unit]
Description=a service to send ip through email
After=my_wpa.service
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5
ExecStart=/etc/sendip/sendip_start
ExecStop=/etc/sendip/sendip_stop

[Install]
WantedBy=multi-user.target
